.projects_list_table {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

body {
  &.light-theme .projects_list_table {
    background-color: var(--light-block-bg);
  }
  &.dark-theme .projects_list_table {
    background-color: var(--dark-block-bg);
  }
}

.projects_list_top, .projects_list_down a, .projects_list_down span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;

  & span {
    border: var(--border-blue);
    text-align: start;
    padding: 3px;
  }
}

.delete_prj_button {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
}

.projects_content {
  position: relative;
}

.projects_list_down select {
  border: var(--border-blue);
}

.projects_list_down a, .projects_list_down span, .projects_list_down select {
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.projects_list_top {
  & .table_name, .table_status, .table_creator {
    font-weight: bold;
  }
}
.projects_list_down_sub {
  display: flex;
  flex-direction: row;
  width: 100%;

  & a, div, span {
    border: var(--border-blue);
  }
}

.projects_list_down {
  display: flex;
  flex-direction: column;
  & input {
    max-width: unset;
    height: 20px;
    width: 20px;
  }
}

.projects_list_down > div {
  display: flex;
}

.projects_list_top > .table_checkbox {
  min-width: 32px;
  min-height: 32px;
}

.table_checkbox {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-blue);
}

body {
  &.light-theme {
    & .table_name:hover {
      background-color: var(--light-block-bg-hover);
      cursor: pointer;
    }
    & select:hover {
      background-color: var(--light-block-bg-hover);
    }
  }
  &.dark-theme {
    & .table_name:hover {
      background-color: var(--dark-block-bg-hover);
      cursor: pointer;
    }
    & select:hover {
      background-color: var(--dark-block-bg-hover);
    }
  }
}


.table_name {
  width: 100%;
  min-width: 140px;
  flex: 1;
  text-align: start;
}

.table_status {
  max-width: 300px;
  min-width: 110px;
  width: 100%;
  flex: 1;
}

.table_creator {
  max-width: 300px;
  min-width: 120px;
  width: 100%;
  flex: 1;
}