:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-blue: #8080ff 1px solid;

  --light-body-bg: #ffffff;
  --light-text: #213547;
  --light-button-bg: #d8d8d8;
  --light-block-bg: #e4e4e4;
  --light-block-bg-hover: #d6d6d6;
  --light-link-color: #296ba6;
  --light-link-href-color: #307dc1;
  --light-input-bg: #c2c2c2;

  --dark-body-bg: #242424;
  --dark-text: #FFFFFFDD;
  --dark-button-bg: #3e3e3e;
  --dark-block-bg: #323232;
  --dark-block-bg-hover: #454545;
  --dark-link-color: #cecefd;
  --dark-link-href-color: #b7b7fd;
  --dark-input-bg: #494949;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
}

select {
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
